{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOIT</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link rel="stylesheet" href="{% static 'css/style3.css'%}" />
    <link rel="icon" type="image/x-icon" href="/static/img/logo.jpg" />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap" rel="stylesheet"> -->
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/static/img/logo.jpg" alt="" srcset="" height="100%" width="70%" />
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Contact Us</a></li>
                <li><a href="/">About Us</a></li>
                <li>YOUR NAME</li>
            </ul>
            <div class="button">
                <p><a href="#">LogOut</a></p>
            </div>
        </nav>
    </header>
    <main>
        <div class="separater">
            <div class="sep1">
                <div class="search">
                    <p>
                        Search Connention
                        <img src="https://img.icons8.com/ios-glyphs/20/0088b8/search--v1.png" />
                    </p>
                    <input class="unq" type="number" name="no" id="donknow" placeholder="Enter unq id" />
                </div>
                <div class="connections">
                    <div class="your">
                        <p>YOUR CONNECTION</p>
                    </div>
                    <div class="teams">
                        <div class="team1">
                            <div class="photo">
                                <img src="https://img.icons8.com/ios-filled/70/0088b8/user-male-circle.png" />
                            </div>
                            <div class="names">
                                <p>TEAM 19<br /></p>
                                <aside>TE Div A</aside>
                            </div>
                        </div>
                        <div class="team1">
                            <div class="photo">
                                <img src="https://img.icons8.com/ios-filled/70/0088b8/user-male-circle.png" />
                            </div>
                            <div class="names">
                                <p>TEAM 47<br /></p>
                                <aside>TE Div A</aside>
                            </div>
                        </div>
                        <div class="team1">
                            <div class="photo">
                                <img src="https://img.icons8.com/ios-filled/70/0088b8/user-male-circle.png" />
                            </div>
                            <div class="names">
                                <p>TEAM 54<br /></p>
                                <aside>TE Div A</aside>
                            </div>
                        </div>
                        <div class="team1">
                            <div class="photo">
                                <img src="https://img.icons8.com/ios-filled/70/0088b8/user-male-circle.png" />
                            </div>
                            <div class="names">
                                <p>TEAM 66<br /></p>
                                <aside>TE Div A</aside>
                            </div>
                        </div>
                        <div class="team1">
                            <div class="photo">
                                <img src="https://img.icons8.com/ios-filled/70/0088b8/user-male-circle.png" />
                            </div>
                            <div class="names">
                                <p>TEAM 64<br /></p>
                                <aside>TE Div A</aside>
                            </div>
                        </div>
                        <div class="team1">
                            <div class="photo">
                                <img src="https://img.icons8.com/ios-filled/70/0088b8/user-male-circle.png" />
                            </div>
                            <div class="names">
                                <p>TEAM 48<br /></p>
                                <aside>TE Div A</aside>
                            </div>
                        </div>
                        <div class="team1">
                            <div class="photo">
                                <img src="https://img.icons8.com/ios-filled/70/0088b8/user-male-circle.png" />
                            </div>
                            <div class="names">
                                <p>TEAM 74<br /></p>
                                <aside>TE Div A</aside>
                            </div>
                        </div>
                        <div class="team1">
                            <div class="photo">
                                <img src="https://img.icons8.com/ios-filled/70/0088b8/user-male-circle.png" />
                            </div>
                            <div class="names">
                                <p>TEAM 36<br /></p>
                                <aside>TE Div A</aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sep2">
                <div class="lof">
                    <ul>
                        <li>
                            <a href="guide">Chat</a>
                        </li>
                        <li><a href="guide_assign">Assign work</a></li>
                        <li>
                            <b><a href="#">Updates</a></b>
                        </li>
                    </ul>
                </div>
                <div class="timeline">
                    <div class="container left">
                        <div class="date">15 Dec</div>
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <p>
                                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus
                                erat sagittis non. Ut blandit semper pretium.
                            </p>
                        </div>
                    </div>
                    <div class="container right">
                        <div class="date">22 Oct</div>
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <p>
                                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus
                                erat sagittis non. Ut blandit semper pretium.
                            </p>
                        </div>
                    </div>
                    <div class="container left">
                        <div class="date">15 Dec</div>
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <p>
                                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus
                                erat sagittis non. Ut blandit semper pretium.
                            </p>
                        </div>
                    </div>
                    <div class="container right">
                        <div class="date">22 Oct</div>
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <p>
                                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus
                                erat sagittis non. Ut blandit semper pretium.
                            </p>
                        </div>
                    </div>
                    <div class="container left">
                        <div class="date">15 Dec</div>
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <p>
                                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus
                                erat sagittis non. Ut blandit semper pretium.
                            </p>
                        </div>
                    </div>
                    <div class="container right">
                        <div class="date">22 Oct</div>
                        <div class="content">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <p>
                                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus
                                erat sagittis non. Ut blandit semper pretium.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>