{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOIT</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/style3.css'%}">
    <link rel="icon" type="image/x-icon" href="/static/img/logo.jpg">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap" rel="stylesheet"> -->
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/static/img/logo.jpg" alt="" srcset="" height="100%" width="70%">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Contact Us</li>
                <li>About Us</li>
                <li>YOUR NAME</li>
            </ul>
            <div class="button">
                <p><a href="#">LogOut</a> </p>
            </div>
        </nav>
    </header>
    <main>
        <div class="separater">
            <div class="sep1">
                <div class="team_detail">
                    <div class="team_mem">
                        <h1>
                            TEAM MEMBER
                        </h1>
                        <ul>
                            <li>TERA BAAP</li>
                            <li>TERA SASUR</li>
                            <li>TERI SASU</li>
                            <li>TERI BIWI</li>
                        </ul>
                    </div>
                    <div class="project_name">
                        <h1>
                            Project Name
                        </h1>
                        <p>
                            WashRoom Cleaner
                        </p>
                    </div>
                    <div class="guide_name">
                        <h1>
                            Guide Name
                        </h1>
                        <p>
                            Vijay Dinanath Chauhan
                        </p>
                    </div>
                </div>
            </div>
            <div class="sep2">
                <div class="lof">
                    <ul>
                        <li><a href="student_chat">Chat</a></li>
                        <li><b><a href="#">Assign work</a></b></li>
                        <li><a href="student_updates">Updates</a></li>
                    </ul>
                </div>
                <div class="do_it_now">
                    <h1>
                        Work Assign By Guide
                    </h1>
                </div>
                <div class="teams">
                    <div class="team1">
                        <div class="names">
                            <p>
                                Lorem ipsum dolor sit amet.<br>
                            </p>
                            <aside>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolorem nisi
                                deleniti itaque aliquam, voluptatibus hic eligendi voluptas error non optio deserunt
                                tempora!
                            </aside>
                        </div>
                        <div class="complete">
                            <button>
                                Do it
                            </button>
                        </div>
                    </div>
                    <div class="team1">
                        <div class="names">
                            <p>
                                Lorem ipsum dolor sit amet.<br>
                            </p>
                            <aside>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolorem nisi
                                deleniti itaque aliquam, voluptatibus hic eligendi voluptas error non optio deserunt
                                tempora!
                            </aside>
                        </div>
                        <div class="complete">
                            <button>
                                Do it
                            </button>
                        </div>
                    </div>
                    <div class="team1">
                        <div class="names">
                            <p>
                                Lorem ipsum dolor sit amet.<br>
                            </p>
                            <aside>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolorem nisi
                                deleniti itaque aliquam, voluptatibus hic eligendi voluptas error non optio deserunt
                                tempora!
                            </aside>
                        </div>
                        <div class="complete">
                            <button>
                                Do it
                            </button>
                        </div>
                    </div>
                    <div class="team1">
                        <div class="names">
                            <p>
                                Lorem ipsum dolor sit amet.<br>
                            </p>
                            <aside>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolorem nisi
                                deleniti itaque aliquam, voluptatibus hic eligendi voluptas error non optio deserunt
                                tempora!
                            </aside>
                        </div>
                        <div class="complete">
                            <button>
                                Do it
                            </button>
                        </div>
                    </div>
                    <div class="team1">
                        <div class="names">
                            <p>
                                Lorem ipsum dolor sit amet.<br>
                            </p>
                            <aside>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolorem nisi
                                deleniti itaque aliquam, voluptatibus hic eligendi voluptas error non optio deserunt
                                tempora!
                            </aside>
                        </div>
                        <div class="complete">
                            <button>
                                Do it
                            </button>
                        </div>
                    </div>
                    <div class="team1">
                        <div class="names">
                            <p>
                                Lorem ipsum dolor sit amet.<br>
                            </p>
                            <aside>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolorem nisi
                                deleniti itaque aliquam, voluptatibus hic eligendi voluptas error non optio deserunt
                                tempora!
                            </aside>
                        </div>
                        <div class="complete">
                            <button>
                                Do it
                            </button>
                        </div>
                    </div>
                    <div class="team1">
                        <div class="names">
                            <p>
                                Lorem ipsum dolor sit amet.<br>
                            </p>
                            <aside>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolorem nisi
                                deleniti itaque aliquam, voluptatibus hic eligendi voluptas error non optio deserunt
                                tempora!
                            </aside>
                        </div>
                        <div class="complete">
                            <button>
                                Do it
                            </button>
                        </div>
                    </div>
                    <div class="team1">
                        <div class="names">
                            <p>
                                Lorem ipsum dolor sit amet.<br>
                            </p>
                            <aside>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolorem nisi
                                deleniti itaque aliquam, voluptatibus hic eligendi voluptas error non optio deserunt
                                tempora!
                            </aside>
                        </div>
                        <div class="complete">
                            <button>
                                Do it
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</body>

</html>