{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOIT</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/style3.css'%}">
    <link rel="icon" type="image/x-icon" href="/static/img/logo.jpg">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap" rel="stylesheet"> -->
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/static/img/logo.jpg" alt="" srcset="" height="100%" width="70%">
            </div>
            <ul>
                <li><a href="/">Contact Us</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/">Home</a></li>
                <li>YOUR TEAM</li>
            </ul>
            <div class="button">
                <p><a href="#">LogOut</a> </p>
            </div>
        </nav>
    </header>
    <main>
        <div class="separater">
            <div class="sep1">
                <div class="team_detail">
                    <div class="team_mem">
                        <h1>
                            TEAM MEMBER
                        </h1>
                        <ul>
                            <li>TERA BAAP</li>
                            <li>TERA SASUR</li>
                            <li>TERI SASU</li>
                            <li>TERI BIWI</li>
                        </ul>
                    </div>
                    <div class="project_name">
                        <h1>
                            Project Name
                        </h1>
                        <p>
                            WashRoom Cleaner
                        </p>
                    </div>
                    <div class="guide_name">
                        <h1>
                            Guide Name
                        </h1>
                        <p>
                            Vijay Dinanath Chauhan
                        </p>
                    </div>
                </div>
            </div>
            <div class="sep2">
                <div class="lof">
                    <ul>
                        <li><b><a href="#">Chat</a></b></li>
                        <li><a href="student_work">Assign work</a></li>
                        <li><a href="student_updates">Updates</a></li>
                    </ul>
                </div>

                <div class="msger-chat">
                    <div class="msg left-msg">
                        <div class="msg-img"
                            style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>

                        <div class="msg-bubble">
                            <div class="msg-info">
                                <div class="msg-info-name">BOT</div>
                                <div class="msg-info-time">12:45</div>
                            </div>

                            <div class="msg-text">
                                Hi, welcome to SimpleChat! Go ahead and send me a message. 😄
                            </div>
                        </div>
                    </div>

                    <div class="msg right-msg">
                        <div class="msg-img"
                            style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"></div>

                        <div class="msg-bubble">
                            <div class="msg-info">
                                <div class="msg-info-name">Sajad</div>
                                <div class="msg-info-time">12:46</div>
                            </div>

                            <div class="msg-text">
                                You can change your name in JS section!
                            </div>
                        </div>
                    </div>

                    <div class="msg left-msg">
                        <div class="msg-img"
                            style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>

                        <div class="msg-bubble">
                            <div class="msg-info">
                                <div class="msg-info-name">BOT</div>
                                <div class="msg-info-time">12:45</div>
                            </div>

                            <div class="msg-text">
                                Hi, welcome to SimpleChat! Go ahead and send me a message. 😄
                            </div>
                        </div>
                    </div>

                    <div class="msg left-msg">
                        <div class="msg-img"
                            style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>

                        <div class="msg-bubble">
                            <div class="msg-info">
                                <div class="msg-info-name">BOT</div>
                                <div class="msg-info-time">12:45</div>
                            </div>

                            <div class="msg-text">
                                Hi, welcome to SimpleChat! Go ahead and send me a message. 😄
                            </div>
                        </div>
                    </div>


                    <div class="msg left-msg">
                        <div class="msg-img"
                            style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>

                        <div class="msg-bubble">
                            <div class="msg-info">
                                <div class="msg-info-name">BOT</div>
                                <div class="msg-info-time">12:45</div>
                            </div>

                            <div class="msg-text">
                                Hi, welcome to SimpleChat! Go ahead and send me a message. 😄
                            </div>
                        </div>
                    </div>


                    <div class="msg right-msg">
                        <div class="msg-img"
                            style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"></div>

                        <div class="msg-bubble">
                            <div class="msg-info">
                                <div class="msg-info-name">Sajad</div>
                                <div class="msg-info-time">12:46</div>
                            </div>

                            <div class="msg-text">
                                You can change your name in JS section!
                            </div>
                        </div>
                    </div>

                    <div class="msg right-msg">
                        <div class="msg-img"
                            style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"></div>

                        <div class="msg-bubble">
                            <div class="msg-info">
                                <div class="msg-info-name">Sajad</div>
                                <div class="msg-info-time">12:46</div>
                            </div>

                            <div class="msg-text">
                                You can change your name in JS section!
                            </div>
                        </div>
                    </div>



                </div>

                <form class="msger-inputarea">
                    <input type="text" class="msger-input" placeholder="Enter your message...">
                    <button type="submit" class="msger-send-btn">Send</button>
                </form>
            </div>
        </div>
    </main>
    <script src="/static/js/index.js"></script>

</body>

</html>